body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	color: #330066;
	
}

table {
	
	border: 0px;
}

td {
	vertical-align: top;
	padding: 5px;
}

.maintable { 	
	width: 80%;
	background-image: url('images/bg.png');
	background-repeat: repeat;
	border: 1px solid #330066;
	margin-left: auto; margin-right: auto;
}

.datetable {
	width: 80%;
	border-collapse: collapse;
}

.datetable td {
	border: 1px solid #330066;
	width: 25%;
	
}

.datetable th {
	border: 1px solid #330066;
	width: 25%;
	text-align: left;
	background-image: url('images/bg-darker.png');
}

.navcolumn {
	width: 20%;	
}

.navcolumnbottomaligned {
	width: 20%;
	vertical-align: bottom;	
}

.maincolum{ 
	width: 80%;
}

.threquartercolumm{
	width: 75%;
}

.quartercolumm{
	width: 25%;
}

.halfcolumn {
	width: 50%;
}

.conftitle {  
	font-weight: bold;
        font-size: 250%;
}

.confsubtitle{ 
	font-weight:bold;
        font-size: 170%;
}

.confsubsubtitle{
    	font-weight: bold;
        font-size: 130%; 
}

.lastupdatetext {  
        font-size: 75%;
}

.smalltext{
	font-size: 75%;
}

.copyrighttext{
	font-size: 70%;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}	

.redtext{
	color: #ff0033;
	background-color: transparent;
}

.largetext{
	font-size: 150%;
}

h1 { 
	font-weight:bold; 
    font-size: 120%;
	padding-top: 10px;
}

h2 {
    font-weight:bold; 
    font-size: 110%;
	padding-top: 10px;
}


h3 {
    font-weight:bold; 
    font-size: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
}

A:link {
	text-decoration: none;
	color: #3300cc; 
	background-color: transparent; 
}

A:visited {
	text-decoration: none;
	color: #9933cc; 
	background-color: transparent; 
}

A:hover {
	text-decoration: underline; 
	background-color: transparent;
}

.ill_left {
	float: left;
	margin-right: 10px;
	margin-bottom: 4px;
	border:0px;
}

.workshopTable{
	border: 1px solid #330066;
}

.workshopTable th{
	text-align: left;
	background-image: url('images/bg-darker.png');
}

.invitedSpeakerTable{
	border: 1px solid #330066;
}

.invitedSpeakerTable th{
	text-align: left;
	background-image: url('images/bg-darker.png');

}



.feestable {
	width: 50%;
	border-collapse: collapse;
}

.feestable td {
	border: 1px solid #330066;
	width: 50%;
	
}

.feestable th {
	border: 1px solid #330066;
	width: 50%;
	text-align: left;
	background-image: url('images/bg-darker.png');
}

.papertable {
	width: 100%;
	border-collapse: collapse;
	font-size: smaller;
}

.papertable td {
	border: 1px solid #330066;
	width: 50%;
	
}

.papertable th {
	border: 1px solid #330066;
	width: 50%;
	text-align: left;
	background-image: url('images/bg-darker.png');
}

.sessiontitle{
	font-weight:bold;
	font-size: 100%;
}

.authornames{
	border-bottom-width: 5px;
}

.papername{
	font-style: italic;
}

.day{
	text-decoration: underline;	
}

.location{
	font-style: italic;
}

 .location{
	font-style: italic;
}
